.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

# Ignoring /tmp
/tmp/*
!/tmp/index.html

# Ignoring /public
/public/*
!/public/assets/*
!/public/.htaccess
!/public/index.php
!/public/license.txt
!/public/readme.rst
!/public/favicon.ico

# Ignoring /public/assets
/public/assets/*
!/public/assets/index.html

/lib/vendor/*